<div class="container-fluid" id="about" style="background-color: #34495e; min-height: 400px; padding-top: 1%;padding-bottom : 1%;">
  <div class="container" style=" text-align: center; width: 55px; padding: 1px 1px 1px 1px;">
    <img src="/assets/section-images/boss.svg">
  </div>
  <h5 id="heading">About Me</h5>
  <div class="container">
    <div class="row">
      <div class="col-sm-12" id="about_intro">
        <q>
          Hi, I am Siddharth Gawas. I am currently completing my studies in the computer engineering. I am looking forward to start
          career as a freelancer. Here's what I can do for you.
        </q>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" id="android_dev">
        <img src="../../assets/section-images/app-dev.svg" width="50%" class="rounded-circle">
        <p>Android App Development</p>
      </div>

      <div class="col-sm-4 align-self-center" id="about_intro2">
        <p>
          Native android application development including backend service for your app.
          Single page responsive web application along with the backend service.
        </p>
      </div>

      <div class="col-sm-4" id="web_dev">
        <img src="../../assets/section-images/web-dev.svg" width="50%" class="rounded-circle">
        <p>Responsive Web Development</p>
      </div>
    </div>

  </div>
</div>