#heading {
    text-align: center;
    margin-top: 0.5%;
    color: white;
}
.container{
    color: white;
    width: 80%;
}

#about_intro , #web_dev, #android_dev, #about_intro2{
    text-align: center;
}

.row {
    margin-top: 1em;
    margin-bottom: 1em;
}

#about_intro2{
    outline-style: double;
    outline-width: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.rounded-circle {
    transition: box-shadow 0.25s;
    margin-top: 1em;
}
.rounded-circle:hover {
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,23);
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,23);
}