<div class="container-fluid" id="skills" style="background-color: #FAFAFA; min-height: 400px; padding-top: 1%px;">
  <div class="container" style=" text-align: center; width: 55px; padding: 1px 1px 1px 1px;">
    <img src="/assets/section-images/skills.svg">
  </div>

  <h5 id="heading">Skills</h5>
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-sm-6">
        <canvas id="frameworkChart">
        </canvas>
      </div>
      <div class="col-sm-6">
        <canvas id="languageChart">
        </canvas>
      </div>
    </div>
  </div>

</div>