
<!-- Navigation bar -->
<nav id="top-navbar" class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #d50000" role="navigation">
    <a class="navbar-brand" href="#">
      SG
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="#home">Home
          </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

<div id="content" style="padding-top: 55px;  ">  
  <div id="home">
    <app-home>
    </app-home>
    <app-profile-picture style="position: absolute; top: 17%; left: 0;right: 0;">
    </app-profile-picture>
  </div>
  <app-about>
  </app-about>
  <app-skills>
    
  </app-skills>
  <div class="container-fluid" id="portfolio" style="background-color: #34495e; height: 400px; padding-top: 55px;">Portfolio</div>
  <div class="container-fluid" id="education" style="background-color: #FAFAFA; height: 400px; padding-top: 55px;">Education</div>
  <div class="container-fluid" id="contacts" style="background-color: #34495e; height: 400px;padding-top: 55px;">Contact</div>
</div>